x-star-rating {
    font-family: 'Ionicons';
    font-size: 20px;
    display: inline-flex;
    cursor: pointer;
}

x-star-rating > .star::after {
    content: '\f4b2';
    color: #777;
    
}

x-star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
    text-shadow: 0 0 7px #952;
}